      /* Styling form and resume sections */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
    background-color: #f1f6f9;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #3c4e62;
}

form {
      max-width: 600px;
      margin: auto;
      background-color: rgb(228, 242, 255);
      border-color: #f1f6f9;
      border-radius: 8px;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
      padding: 20px;
}

fieldset {
        border: 2px solid #054669;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: rgb(229, 235, 240);
}

legend {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color:#3f4143;
}

label {
       font-size: 14px;
       display: block;
       margin: 10px;
       color: #192c39;
}

input,textarea {
        margin-top: 4px;
        padding: 8px;
        width: 100%;
        border: 1px solid #454545;
        border-radius: 4px;
        box-sizing: border-box;
}

button {
    
        display: block;
        width: 600px;
        padding: 10px;
        background-color: #a1c3d8;
        color: black;
        border: none;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin-top: 10px;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
        
        color: #1d1e1e;
}

#Resume-Display {
               max-width: 600px;
               margin: auto;
               padding: 20px;
               border: 2px solid #fff;
               border-radius: 8px;
               background-color: #e7edf0;
               box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
     /*making the resume Editable*/
               outline: none;
}

#Resume-Display h2,#Resume-Display h3 {
                color: #eaedf0;
                margin-bottom: 10px;
}
#Resume-Display p {
    margin-bottom: 15px;
}